<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg " style="background-color: #3f51b5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

      <button type="button" style="border-radius:4px"><img src="./assets/tvslogo.png" alt="" style="width:45px">
      </button>
      <a class="navbar-brand" style="padding-left:40%;color: #f9f9fc;padding-bottom:1%"> Supplier CPK </a>

      <div class="row" style="padding-left:10%">


      
         <div class="col-lg-2">
          <button type="button" class="navButton"> <img src="./assets/data-processing.png" alt="" (click)='DataEntry1()'
              style="width:22px;padding-bottom:3px;"> LotData

          </button>

        </div> 

        <div class="col-lg-2">
          <button type="button" class="navButton"> <img src="./assets/calendar.png" alt="" routerLink="/dailyreport"
              style="width:22px;padding-bottom:3px;"> Daily

          </button>
        </div>
        <div class="col-lg-2">
          <button type="button" class="navButton"> <img src="./assets/profit.png" alt="" routerLink="/monthlyreport"
              style="width:22px;padding-bottom:3px;"> Monthly

          </button>
        </div>


        <div class="col-lg-2">

          <button type="button" class="navButton" routerLink="/vlogin"><i class="fa fa-sign-out" style="color: rgb(248, 244, 244);
           
              padding: 0;
              font-size: 17px;
             "></i>Logout</button>


        </div>

        <div class="col-lg-2">

          <button type="button" class="navButton" routerLink="/home"><i class="fa fa-home" style="color: rgb(248, 244, 244);
         
            padding: 0;
            font-size: 17px;
           "></i>Home</button>



        </div>

      </div>


    </div>
  </div>
</nav>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="transitCreate">

  <div class="row mlr-0">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 plr-0">
      <div class="transitCreateTop">


        <form [formGroup]="profileForm" style="margin-top: 1%;background-color: #f8f9fa;">
          <div class="d-flex justify-content-center align-items-center">


            <div class="row">
              <div class="col">
                <h4 mat-dialog-title style="color: #0a58ca;
          font-weight: bold;
          font-size: 20px;">Get Lot Data
                </h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="row">

                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">

                </div>

                <div class="col-lg-3">
                  <label class="label" style="padding-bottom:1%;" required>Select Part</label>
                  <ng-multiselect-dropdown [placeholder]="'Select Part'" [data]="drpserver"
                    [settings]="drpserversetting" style="height:48px" name="Part" (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onDeSelect($event)" required>
                  </ng-multiselect-dropdown>

                </div>
                <div class="col-lg-3">
                  <label class="label" required>From Date</label>
                  <mat-form-field appearance="outline" style="width:100%;height:70%">

                    <input matInput [matDatepicker]="picker3" class="form-Control" formControlName="datefrom" required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="row">

                <div class="col-lg-3">
                  <label class="label" required>To Date</label>
                  <mat-form-field appearance="outline" style="width:100%;height:70%">

                    <input matInput [matDatepicker]="picker4" class="form-Control" formControlName="dateto" required>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>

                </div>

                <div class="col-lg-3" style="padding-top: 19px;">
                  <button type="submit" class="btn btn-primary" (click)='GetLot()'>Get Details</button>
                </div>

                <div class="col-lg-3">

                </div>



                <div class="col-lg-3">

                </div>
              </div>
            </div>


          </div>



        

        </form>


        <div class="example-container" *ngIf="dataSourceShow">
          <table mat-table [dataSource]="dataSourceMain" class="mat-elevation-z8">
            <ng-container matColumnDef="Position">
              <th mat-header-cell *matHeaderCellDef> SNo. </th>
              <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="LIFNR">
              <th mat-header-cell *matHeaderCellDef> Vendor Code </th>
              <td mat-cell *matCellDef="let element">
                {{element.LIFNR}}
              </td>
            </ng-container>

            <ng-container matColumnDef="MATNR">
              <th mat-header-cell *matHeaderCellDef> Material </th>
              <td mat-cell *matCellDef="let element">
                {{element.MATNR}}
              </td>
            </ng-container>

            <ng-container matColumnDef="MAKTX">
              <th mat-header-cell *matHeaderCellDef> Material Desc. </th>
              <td mat-cell *matCellDef="let element">
                {{element.MAKTX}}
              </td>
            </ng-container>

            <ng-container matColumnDef="DRW_ISSUE">
              <th mat-header-cell *matHeaderCellDef> Drawing Issue </th>
              <td mat-cell *matCellDef="let element">
                {{element.DRW_ISSUE}}
              </td>
            </ng-container>

            <ng-container matColumnDef="DRW_REVISION">
              <th mat-header-cell *matHeaderCellDef> Drawing Rev. </th>
              <td mat-cell *matCellDef="let element">
                {{element.DRW_REVISION}}
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="PRUEFLOS">
                <th mat-header-cell *matHeaderCellDef> Inspection Lot </th>
                <td mat-cell *matCellDef="let element">
                  <input type="text" value="element.PRUEFLOS" [(ngModel)]="element.PRUEFLOS">
                </td>
              </ng-container> -->

            <ng-container matColumnDef="PRUEFLOS">
              <th mat-header-cell *matHeaderCellDef> Inspection Lot </th>
              <td mat-cell *matCellDef="let element"> <a (click)="InspLotLink(element)"
                  style="text-decoration-line: underline;color: blue;cursor: pointer;">{{element.PRUEFLOS}} </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="LOT_CRDATE">
              <th mat-header-cell *matHeaderCellDef> Lot Created On </th>
              <td mat-cell *matCellDef="let element">
                {{element.LOT_CRDATE}}
              </td>
            </ng-container>

            <ng-container matColumnDef="STATUS">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                {{element.STATUS}}
              </td>
            </ng-container>

            <ng-container matColumnDef="SUP_LINE">
              <th mat-header-cell *matHeaderCellDef> Line </th>
              <td mat-cell *matCellDef="let element">
                <input type="text" value="element.SUP_LINE" [(ngModel)]="element.SUP_LINE">
              </td>
            </ng-container>


            <ng-container matColumnDef="PROD_PLAN">
              <th mat-header-cell *matHeaderCellDef> Prd. Plan </th>
              <td mat-cell *matCellDef="let element">
                <mat-select class="form-control" required value="element.Performance" [(ngModel)]="element.PROD_PLAN"
                  style="width: 120px;">
                  <mat-option *ngFor="let PROD_PLAN of PRDPlanList" [value]="PROD_PLAN">
                    {{PROD_PLAN}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>


            <ng-container matColumnDef="header">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="12" style="text-align: left!important;">
                Inspection LOT
                Details
              </th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['header'];sticky:true"></tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>





        <form [formGroup]="profileForm" *ngIf="btnShow">
          <div class="d-flex justify-content-center align-items-center">
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-success" (click)='btnSubmit()'>Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br />